.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 4px rgba(201, 201, 201, 0.47);
  padding: 10px;
  display: flex;
  
  .leftFeature{
    flex: 1;
    border-right: solid 1px #e6e6e6;
  }
  .top {
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .featuredChart {
      width: 100px;
      height: 100px;
    }

    .desc {
      margin-top: 30px;
      font-weight: 300;
      font-size: 12px;
      color: gray;
      // text-align: center;
    }
  }
  .featuredBottom{
    // display: flex;
    margin-left: 100px;
    margin-top: 20px;
  }
  .buttonOnFeature{
    color: green;
    margin-right: 40px;
  }
  
  .buttonOffFeature{ 
    color: red;
  }
}

.rightFeature{
  flex: 2;

  
  .title{
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    color: gray;
  }
}