.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-arrow {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-arrow:hover {
    background-color: #f0f0f0;
  }
  
  .page-number {
    display: inline-block;
    padding: 5px 10px;
    //background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #333;
    margin: 0 5px;
  }
  
  .page-arrow.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }