.chart {
  color: gray;
  // height: 300px;
  margin-left: 40px;
  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
.chart-scroll-container {
  width: 100%;
  overflow-x: auto;
  padding-right: 70px;
}

}
